.toolbar-spacer {
  flex: 1 1 auto;
}
.content{
   padding:20px 50px;
}


.sidenav-container{
  height: 1000px;
}
.separator{
  height:25px;
}
a.glyphicon{
    font-size: 1.5em;
    height: 50px;
    padding: 25px;
}
